.swiper-button-prev,
.swiper-button-next {
  box-sizing: border-box;
  padding: 2rem;
  color: black;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  z-index: 30;
}

.swiper-button-prev {
  background-color: red;
}
